<h1>보호 중 동물</h1>

<%@pr.each do |p|%>
  <br>
  종류 : <%= p.kind%>  <br>
  색상 : <%= p.color%> <br>
  성별 : <%= p.sex%> <br>
  나이 / 체중 : <%= p.age_weight%> <br>
  발생 장소 :<%= p.happenPlace%> <br>
  접수 일시 : <%= p.happenDate%> <br>
  중성화 여부 : <%= p.neuter%> <br>
  특징 : <%= p.character%> <br>
  등록 번호 : <%= p.dog_number%> <br>
  관할 기관 : <%= p.orgName%> <br>
  상태 : <%= p.processState%> <br>
  보호 센터 : <%= p.careName%> <br>
  보호 센터 연락처 :<%= p.careNumber%> <br>
  보호 장소 : <%= p.carePlace%> <br>
<%end%>

  <a href="index/crawler.csv">export all<a>
