​
<div class="container">
  <h1>버려진 동물들 정보</h1><br><br>
    <% @item.each do |item| %>
      <div class="row" role='datatable'>
        <div class="column">
          <div class="card">
            <%= image_tag ("#{item["popfile"]}"), :class => "image-size"%>
            <div class="card-box">
              <%# <h2> dididi </h2> %>
                <p class="title"><%= item["happenDt"]%></p><br>
                <p class="title"><%= item["happenPlace"]%></p>
                <p class="title"><%= item["kindCd"]%></p>
                <p class="title"><%= item["colorCd"]%></p>
                <p class="title"><%= item["age"]%></p>

                <p class="title"><%= item["weight"]%></p>
                <p class="title"><%= item["processState"]%></p>
                <p class="title"><%= item["sexCd"]%></p>
                <p class="title"><%= item["neuterYn"]%></p>
                <p class="title"><%= item["careNm"]%></p>
                <p class="title"><%= item["careAddr"]%></p>
                
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>


<%#= item["happenDt"]%>
<%#= item["happenPlace"]%>
<%#= item["kindCd"]%>
<%#= item["colorCd"]%>
<%#= item["age"]%>

<%#= item["weight"]%>
<%#= item["processState"]%>
<%#= item["sexCd"]%>
<%#= item["neuterYn"]%>
<%#= item["careNm"]%>
<%#= item["careAddr"]%>



<script>
  function doImgPop(img){
  img1= new Image();
  img1.src=(img);
  imgControll(img);
  }
  
  function imgControll(img){
  if((img1.width!=0)&&(img1.height!=0)){
      viewImage(img);
    }
    else{
      controller="imgControll('"+img+"')";
      intervalID=setTimeout(controller,20);
    }
  }

  function viewImage(img){
  W=img1.width;
  H=img1.height;
  O="width="+W+",height="+H+",scrollbars=yes";
  imgWin=window.open("","",O);
  imgWin.document.write("<html><head><title>:*:*:*: 이미지상세보기 :*:*:*:*:*:*:</title></head>");
  imgWin.document.write("<body topmargin=0 leftmargin=0>");
  imgWin.document.write("<img src="+img+" onclick='self.close()' style='cursor:pointer;' title ='클릭하시면 창이 닫힙니다.'>");
  imgWin.document.close();
  }
</script>